In [ ]:
pip install pandas

In [ ]:
import pandas as pd
load_file = pd.read_csv('iris_csv.csv')
# print(load_file) 
# print(load_file.to_string()) {To load all data in string}

In [ ]:
import pandas as pd

mydata = { 
    "cars" : ['BMW','VOLVO','FORD'],
    "passings" : [3,7,8]
}
myvar = pd.DataFrame(mydata)
print(myvar)

In [ ]:
import pandas as pd
print(pd.__version__)

1.3.5

In [ ]:
import pandas as pd
value = [1,2,3]
var = pd.DataFrame(value)
# print(var)
print(var[0][1])

In [ ]:
import pandas as pd
value = [1,7,2,7]
myvar = pd.Series(value,index=[i for i in range(len(value))])
print(myvar)

In [ ]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

In [ ]:
import pandas as pd
calories = {"day1" : 420, "day2" : 380, "day3" : 390}
myvar = pd.Series(calories,index = ["day1","day2"])
print(myvar)

In [ ]:
import pandas as pd
auth_series = pd.Series(['krupesh','dhiraj','hardik'])
article_series = pd.Series([210,120,120])
frame = {'Author' : auth_series , 'Article' : article_series}
result = pd.DataFrame(frame)
age = [24,30]
result['Age'] = pd.Series(age)
print(result)

In [ ]:
dict = {
    "Auth_name" : pd.Series(['krupesh','hardik','dhiraj']),
    "Auth_book_no" : pd.Series([12,21,12])
}
result = pd.DataFrame(dict,index=['no1','no2','no3'])
print(result)

# Note : Here we can see after providing index to the dataframe explicity,it has
#  fill all data with NaN values since we have created this dataframe using Series
#  and Series has its own default indices(0,1,2) that is why indices of bot dataframe
#  and Series do not match

In [ ]:
dict = {
    "Auth_name" : pd.Series(['krupesh','hardik','dhiraj'],index=['no1','no2','no3']),
    "Auth_book_no" : pd.Series([12,21,12],index=['no1','no2','no3'])
}
result = pd.DataFrame(dict,index=['no1','no2','no3'])
print(result)

In [ ]:
dataframe = {
    "Name" : pd.Series(['krupesh','hardik','vishal']),
    "Age" : pd.Series([26,12,23])
}
result = pd.DataFrame(dataframe)
print(result)

In [ ]:
#  Note :: if the we need row data always use LOC
#         index   Name    Age     
#  LOC     0      krupesh  24
#  LOC.    1.     hardik   12 
#  LOC.    2.     vishal.  23

In [ ]:
result = pd.read_csv('data.csv')
print(pd.options.display.max_rows)

#  Note :: check system's maximum rows with the pd.options.display.max_rows statement.
#  In my system the number is 60, which means that if the DataFrame contains more than
#  60 rows ..

In [ ]:
#  Json file load
import pandas as pd
result = pd.read_json('data.json')
print(result.head(10+1)) # show all head data
print(result.tail(10+1))

In [ ]:
print(result.info())

In [ ]:
# cleaning Data
import pandas as pd

result = pd.read_json('data.json')
print(result)
new_result = result.dropna()
#  Dropna() mehtod returns a new DataFrame, and will not change the original.
#  Dropna() deal with empty cells is to remove rows that contain empty cells.
print(new_result)

In [ ]:
#  If we need to change original dataframe then use inplace=True
result = pd.read_json('data.json')
new_result = result.dropna(inplace=True)
print(result)

In [ ]:
result = pd.read_json('data.json')
result.fillna(130,inplace=True) # Replace all value which carry null 
result['Calories'].fillna(130,inplace=True) # Here it replace only Calories column

In [ ]:
result = pd.read_json('data.json')
value = result['Calories'].mean()
value = result['Calories'].median()
value = result['Calories'].mode()[0]

300.0

In [ ]:
# pd.to_datetime('<variable>'['Date'])

In [ ]:
# Doubt


load_image = pd.read_json('data.json')
value = load_image.dropna(subset = ['Calories'],inplace=True)
# print(load_image.to_string())
value = load_image[load_image['Duration'].notna()]

In [ ]:
print(result)
# let's replate some value in perticular row
result.loc[2,'Duration'] = 78
print(result)

In [ ]:
# if we change all vaue inside data
for x in result.index:
  if result.loc[x,"Calories"] > 120:
    result.loc[x,"Calories"] = 120
print(result)

In [ ]:
# If wrong row show then second option to remove the row
for x in result.index:
  if result.loc[x,'Duration'] > 120:
    result.drop(x,inplace=True)
print(result)

In [ ]:
print(result.duplicated())

In [ ]:
result.drop_duplicates(inplace=True) # Detele all duplicate values

In [ ]:
result = pd.read_csv('data.csv')
print(result.corr())

# The corr() method ignores "not numeric" columns. 

# Perfect Correlation: 
#.   We can see that "duration" and "duration" got the number 1.00, which makes
#    sense, each column always has a perfect relationship with itself

# Good Correclation:
#. "Duration" and "Calories" got 0.922717 correlations, which is a very good

# Bad Correlation:
#  "Duration" and "Pulse" got -0.155.. that is very bad correlation.

In [ ]:
# [head(),tail(),dropna(),dropna(inplace=True),fillna(value,inplace=True),mean()
#.  medium() , mode() , loc, drop, duplicated() ,corr()]